<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="img/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, iure,
    laboriosam, magnam aut officiis incidunt consectetur est illum blanditiis
    illo corporis unde nesciunt distinctio dignissimos!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="img/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ad amet totam
    non temporibus atque aperiam! Voluptate eum blanditiis, rem quaerat
    aspernatur odit dolorem incidunt?
  </div>
</div>
<script src="./js/main.js"></script>
