<section class="block container feature-main">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
        laudantium beatae nihil reiciendis perferendis praesentium quas nulla
        corrupti quaerat magnam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="img/easy.webp 1x, img/easy@2x.webp 2x"
        type="image/webp"
      />
      <source srcset="img/easy.jpg 1x, img/easy@2x.jpg 2x" type="image/jpeg" />
      <img class="feature__image" src="img/easy@2x.jpg" />
    </picture>
  </article>
</section>
<section class="block container feature-main">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
        laudantium beatae nihil reiciendis perferendis praesentium quas nulla
        corrupti quaerat magnam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="img/fast.webp 1x, img/fast@2x.webp 2x"
        type="image/webp"
      />
      <source srcset="img/fast.jpg 1x, img/fast@2x.jpg 2x" type="image/jpeg" />
      <img class="feature__image" src="img/fast@2x.jpg" />
    </picture>
  </article>
</section>
<section class="block container feature-main">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
        laudantium beatae nihil reiciendis perferendis praesentium quas nulla
        corrupti quaerat magnam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="img/wordpress.webp 1x, img/wordpress@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="img/wordpress.jpg 1x, img/wordpress@2x.jpg 2x"
        type="image/jpeg"
      />
      <img class="feature__image" src="img/wordpress@2x.jpg" />
    </picture>
  </article>
</section>
<section class="block container feature-main">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
        laudantium beatae nihil reiciendis perferendis praesentium quas nulla
        corrupti quaerat magnam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        srcset="img/support.webp 1x, img/support@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="img/support.jpg 1x, img/easy@2x.jpg 2x"
        type="image/jpeg"
      />
      <img class="feature__image" src="img/support@2x.jpg" />
    </picture>
  </article>
</section>
